@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* VARIABLES */
    --spring-wood: 246 247 240;
    --lemon-grass: 197 206 181;
    --red-damask: 210 88 66;
    --teak: 84 67 46;
    --kelp: 66 66 54;

    --header-height: 120px;
    --radius: 0.5rem;

    /* ASSIGNMENTS */
    --background: var(--spring-wood);
    --foreground: var(--kelp);

    --card: var(--spring-wood);
    --card-foreground: var(--kelp);

    --popover: var(--spring-wood);
    --popover-foreground: var(--kelp);

    --primary: var(--red-damask);
    --primary-foreground: var(--spring-wood);

    --secondary: var(--lemon-grass);
    --secondary-foreground: var(--teak);

    --muted: var(--lemon-grass);
    --muted-foreground: var(--kelp);

    --accent: var(--lemon-grass);
    --accent-foreground: var(--teak);

    --destructive: 230 120 88;
    --destructive-foreground: var(--kelp);

    --border: var(--kelp);
    --input: var(--kelp);
    --ring: var(--red-damask);
  }

  /* .dark {
    --background: var(--spring-wood);
    --foreground: var(--kelp);

    --card: var(--spring-wood);
    --card-foreground: var(--kelp);

    --popover: var(--spring-wood);
    --popover-foreground: var(--kelp);

    --primary: var(--red-damask);
    --primary-foreground: var(--spring-wood);

    --secondary: var(--lemon-grass);
    --secondary-foreground: var(--teak);

    --muted: var(--lemon-grass);
    --muted-foreground: 240 3.8% 46.1%;

    --accent: var(--lemon-grass);
    --accent-foreground: var(--teak);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: var(--kelp);
    --input: var(--kelp);
    --ring: var(--red-damask);
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
