@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 70px;

    --background: 185 100% 95%;
    --foreground: 185 5% 0%;
    --card: 185 50% 90%;
    --card-foreground: 185 5% 10%;
    --popover: 185 100% 95%;
    --popover-foreground: 185 100% 0%;
    --primary: 185 50.4% 22.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 147 30% 85%;
    --muted-foreground: 185 5% 35%;
    --accent: 147 30% 80%;
    --accent-foreground: 185 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 185 5% 90%;
    --border: 185 30% 50%;
    --input: 185 30% 18%;
    --ring: 185 50.4% 22.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 185 50% 5%;
    --foreground: 185 5% 90%;
    --card: 185 50% 0%;
    --card-foreground: 185 5% 90%;
    --popover: 185 50% 5%;
    --popover-foreground: 185 5% 90%;
    --primary: 185 50.4% 22.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 147 30% 15%;
    --muted-foreground: 185 5% 60%;
    --accent: 147 30% 15%;
    --accent-foreground: 185 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 185 5% 90%;
    --border: 185 30% 18%;
    --input: 185 30% 18%;
    --ring: 185 50.4% 22.9%;
    --radius: 0.5rem;
  }

  /* .dark {
    --background: var(--spring-wood);
    --foreground: var(--kelp);

    --card: var(--spring-wood);
    --card-foreground: var(--kelp);

    --popover: var(--spring-wood);
    --popover-foreground: var(--kelp);

    --primary: var(--red-damask);
    --primary-foreground: var(--spring-wood);

    --secondary: var(--lemon-grass);
    --secondary-foreground: var(--teak);

    --muted: var(--lemon-grass);
    --muted-foreground: 240 3.8% 46.1%;

    --accent: var(--lemon-grass);
    --accent-foreground: var(--teak);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: var(--kelp);
    --input: var(--kelp);
    --ring: var(--red-damask);
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
